#portfolio-view-view {
    display: block;
    height: 100%;
}

#editor-layout {
    padding:var(--lumo-space-l);
    width: 400px;
}

#button-layout {
    display:flex;
    flex-wrap:wrap-reverse;
    justify-content:flex-end;
}

#portfolio-view-view #wrapper {
    flex-grow:1;
}